<div class="wraper">
  <div class="seminarBackgrund">
    <div class="senimarSpacing">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xs-12 prof-div">
            <img src="assets/images/seminar3.png">
          </div>
          <div class="col-sm-6 col-md-6 col-xs-12 intro">
            <h2>Seminar III</h2>
            <h1>Bernard Gersh</h1>
            <button>Simplify PCI</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="senimarSpacing">
    <div class="container">
      <div class="row middle-wraper">
        <div class="col-sm-9 col-sm-9 col-sm-9 col-xs-12 content">

          <p>
              Professor of Medicine at Mayo Clinic College of Medicine, Consultant in Cardiovascular Diseases and Internal Medicine. 
          </p>
          <p>
              His past positions include The W. Proctor Harvey Teaching Professor of Cardiology and Chief of the Division of Cardiology at Georgetown University Medical Center. Dr. Gersh received his MB, ChB, from the University of Cape Town in South Africa.
          </p>
          <p>
               Dr. Gersh’s wide interests include the natural history and therapy of acute and chronic coronary artery disease, clinical electrophysiology and in particular atrial fibrillation, sudden cardiac death and syncope, cardiac stem cell therapy, and the epidemiology of cardiovascular disease in the developing world. 
          </p>
          <p>
             He has approximately 1105 publications (959 manuscripts and 146 book chapters). (h-index 119).
          </p>
        </div>
        <div class="col-sm-3 col-sm-3 col-sm-3 col-xs-12 watch-area">
          <a routerLink="/my_account"> 
            <button>
              Watch
            </button>
          </a>

          <div class="next-seminar">
            <p>Next</p>
            <img src="assets/images/pic7.png" alt="">
            <h3>
                Prof William Fearon
            </h3>

            <h4>22nd August 2020</h4>
            <!-- <hr> -->
            <!-- <h4>7.30-8.45pm</h4> -->

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="seminarBackgrund">
    <div class="senimarSpacing">
      <div class="container">
        <div class="row chairperson-main">
          <h2 class="title">
              Chairperson
          </h2>
          <div class="col-sm-6 col-md-6 col-xs-12 chairperson-info">
            <img src="assets/images/pic1.png">
            <h2>Jeroen Bax</h2>
            <p>Director of non-invasive imaging and Director of the echo-lab at the Leiden University Medical Center</p>
          </div>

          <div class="col-sm-6 col-md-6 col-xs-12 chairperson-info">
              <img src="assets/images/pic3.png">
              <h2>Anthony Gershlick</h2>
              <p>Consultant Cardiologist at Leicester’s Hospitals, UK</p>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>
<div class="footer">  
</div>