<div class="wraper">
  <div class="seminarBackgrund">
    <div class="senimarSpacing">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xs-12 prof-div">
            <img src="assets/images/seminar1.png">
          </div>
          <div class="col-sm-6 col-md-6 col-xs-12 intro">
            <h2>Seminar I</h2>
            <h1>John McMurray</h1>
            <button>Heart Failure</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="senimarSpacing">
    <div class="container">  
      <div class="row middle-wraper">
          <div class="col-sm-9 col-sm-9 col-sm-9 col-xs-12 content">
            <p>
                John McMurray, Professor of Medical Cardiology and Deputy Director of the Institute of Cardiovascular and Medical Sciences at the University of Glasgow, UK and honorary Consultant Cardiologist at the Queen Elizabeth University Hospital, Glasgow. He was Past-President of the Heart Failure Association of the European Society of Cardiology (ESC). 
            </p>
            <p>
                Professor McMurray’s primary research interest is in heart failure and his main research activity is clinical trials. He is, or was, the principal investigator of two tries which changed the dimensions of the treatment DAPA HP & CAROLINA.
            </p>
            <p>
                He has published over 600 original papers, reviews, and book chapters and is the primary author or editor of 13 books. Professor McMurray was included in the 2015 listing of Highly Cited Researchers by Thomson-Reuters.
            </p>
            <p>
                Professor McMurray was the lead author of the World Health Organization and first Scottish Intercollegiate Guidelines Network Guidelines on the Management of heart failure.
            </p>
          </div>
          <div class="col-sm-3 col-sm-3 col-sm-3 col-xs-12 watch-area">
            <a routerLink="/my_account"> 
              <button>
                Watch
              </button>
            </a>

            <div class="next-seminar">
              <p>Next</p>
              <img src="assets/images/pic5.png" alt="">
              <h3>
                  Prof Marc Pfeffer on<br> Heart Failure With <br>Preserved Ejection <br>Fraction in Perspective
              </h3>
              <h4>18th July 2020</h4>
              <hr>
              <h4>7.30-8.45pm</h4>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="seminarBackgrund">  
    <div class="senimarSpacing">    
      <div class="container">  
        <div class="row chairperson-main">
          <h2 class="title">
              Chairperson
          </h2>
          <div class="col-sm-6 col-md-6 col-xs-12 chairperson-info">
            <img src="assets/images/pic1.png">
            <h2>Jeroen Bax</h2>
            <p>Director of non-invasive imaging and Director of the echo-lab at the Leiden University Medical Center</p>
          </div>
          <div class="col-sm-6 col-md-6 col-xs-12 chairperson-info">
              <img src="assets/images/pic2.png">
              <h2>Martin Cowie</h2>
              <p>Professor of Cardiology (Health Services Research) and is an Honorary Consultant Cardiologist at the Royal Brompton and Harefield NHS Foundation Trust</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">  
</div>