.wraper {font-family: 'Roboto', sans-serif;
    padding: 40px 70px 30px 70px;
    background-image: url(/assets/images/contentSection.png);
    background-size: contain;
    min-height: 100vh;

}
.myaccount {
        width: 700px;
    margin: auto;
}
.accountHeader {background: transparent linear-gradient(90deg, #FE3B61 0%, #FE464D 19%, #FF3B5E 40%, #FF4C36 60%, #FF5D1C 81%, #FE6D0C 100%) 0% 0% no-repeat padding-box;
    text-align: center;
    margin: auto;}
.accountHeader h1 {text-align: center;
    letter-spacing: 1.27px;
    color: #fff;
    opacity: 1;
    font-size: 42px;
    padding: 50px 0;
    font-weight: 600;	}
    
.accountContent{padding: 20px 40px;}
.accountContent p {font-size: 20px; letter-spacing: 1.25px;
    color: #040404;
    opacity: 1;line-height: 28px;
    font-weight: 500; text-align: center;}
.otpSection {     border: 1px solid #707070;
    background: #EFEFEF;
    padding: 50px;
    width: 70%;
    margin: auto;}
    .otpSection p {
            text-align: center;
    font-size: 19px;
    font-weight: 500;
    }
    .otpSection button {background: transparent linear-gradient(90deg, #FE3B61 0%, #FE464D 19%, #FF3B5E 40%, #FF4C36 60%, #FF5D1C 81%, #FE6D0C 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin: 0 140px;}


@media screen and (max-width: 500px) {
.wraper {
padding: 10px 10px 10px 10px;
}
.myaccount{
width: 100%;
margin: auto;
}
.accountHeader h1 {
font-size: 22px;
padding: 10px 0;}
.accountContent{
padding: 10px;
}
.accountContent p {
font-size: 16px;
letter-spacing: 1.25px;
color: #040404;
opacity: 1;
line-height: 22px;}
.otpSection {
border: 1px solid #707070;
background: #EFEFEF;
padding: 20px;
width: 100%;}
.otpSection button{font-size: 18px;margin: 0;width: 100%;}
}    