<div class="wraper">
	<div class="container">
		<div class="myaccount">
			<div class="accountHeader">
				<h1>My Account</h1>
			</div>
			<div class="accountContent">
				<p>To watch the experts you need to register yourself. You can access the content on any device of your comfort at your convenience.</p>
			</div>
      <div class="otpSection">
        <form [formGroup]="otp" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="text" class="form-control" formControlName="mobileNumber">
          </div> 
          <p>Enter OTP</p> 
          <button type="submit" class="btn">Submit</button>
        </form>
      </div>
		</div>
	</div>
</div>
