.wraper {font-family: 'Roboto', sans-serif;
    padding: 40px 70px 30px 70px;
    background-image: url(/assets/images/contentSection.png);
    background-size: contain;
    min-height: 100vh;

}
.emailId{font-weight: bold !important;}
.contactus{ width: 700px;
    margin: auto;}
.contactusHeader {background: transparent linear-gradient(90deg, #FE3B61 0%, #FE464D 19%, #FF3B5E 40%, #FF4C36 60%, #FF5D1C 81%, #FE6D0C 100%) 0% 0% no-repeat padding-box;
    text-align: center;
    margin: auto;}
.contactusHeader h1 {text-align: center;
    letter-spacing: 1.27px;
    color: #fff;
    opacity: 1;
    font-size: 42px;
    padding: 50px 0;
    font-weight: 600;	}
    
.contactusContent{padding: 20px 40px;}
.contactusContent p {font-size: 20px; letter-spacing: 1.25px;
    color: #040404;
    opacity: 1;line-height: 28px;
    font-weight: 500; text-align: center;}

@media screen and (max-width: 500px) {
 .wraper {
padding: 10px 10px 10px 10px;
}
.contactus{
width: 100%;
margin: auto;
}
.contactusHeader h1 {
font-size: 22px;
padding: 10px 0;}
.contactusContent{
padding: 10px;
}
.contactusContent p {
font-size: 20px;
letter-spacing: 1.25px;
color: #040404;
opacity: 1;
line-height: 22px;}
/*.otpSection {
border: 1px solid #707070;
background: #EFEFEF;
padding: 20px;
width: 100%;}
.otpSection button{font-size: 18px;margin: 0;width: 100%;} */
}
