.wrapper {
    width: 60%;
    margin: auto;
    margin-top: 10px;
}
.header-register {
background: #fe3b61; /* Old browsers */
background: -moz-linear-gradient(45deg,  #fe3b61 0%, #fe464d 25%, #ff3b5e 48%, #ff4c36 71%, #ff5d1c 86%, #fe6d0c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #fe3b61 0%,#fe464d 25%,#ff3b5e 48%,#ff4c36 71%,#ff5d1c 86%,#fe6d0c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #fe3b61 0%,#fe464d 25%,#ff3b5e 48%,#ff4c36 71%,#ff5d1c 86%,#fe6d0c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe3b61', endColorstr='#fe6d0c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */;
padding: 20px;
}
.header-register h3 {
  color: #fff;
  font-size: 32px;
  font-family: initial;
  font-weight: bold;
  padding-top: 30px;
}
  .header-register p {
    color: #fff;
  }

  .sign-in {
    background: #0000000f;
    padding: 70% 0px;
    min-height: 70vh;
  }
  .sign-in h4 {    
    font-size: 20px;
    font-weight: 600;
    text-align: center;
  }
  .sign-in button {    
    background: #ec544b;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 0 20px;
    margin: auto;
    display: block;
  }

.form-right form {    
  padding: 20px;
  border: 2px solid #000;
  margin: 20px;
  margin-left: 0;
 background: #fff;
 padding-top: 30px;
}    
.form-right form  input {    
  border: 2px solid #dc5e7d;
  border-radius: 0;
}
.form-right form  input::placeholder {color: #000;font-size: 18px;font-weight: bold;}
.form-right form  button { background: #ec544b;
  border: none;
  color: #fff;
  font-size: 20px;
  padding: 4px 80px;
  margin: auto;
  border-radius: 0;
  display: block;}

  /*footer*/
.londonSemi_footer {
background: #fe3b61; /* Old browsers */
background: -moz-linear-gradient(45deg,  #fe3b61 0%, #fe464d 25%, #ff3b5e 48%, #ff4c36 71%, #ff5d1c 86%, #fe6d0c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #fe3b61 0%,#fe464d 25%,#ff3b5e 48%,#ff4c36 71%,#ff5d1c 86%,#fe6d0c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #fe3b61 0%,#fe464d 25%,#ff3b5e 48%,#ff4c36 71%,#ff5d1c 86%,#fe6d0c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe3b61', endColorstr='#fe6d0c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.setFooter {text-align: right;
    padding:7px 80px;}
.setFooter img {    width: 3%;
    margin: 0 5px;
}
.setFooter span {    color: #fff;
    font-size: 24px;}
/*seriesOne END*/

/*RESPONSIVE START*/
@media and (min-width: 1030px) and (max-width: 1366px){}
/*Tablet landscape (1024x768)*/
@media (min-width:992px) and (max-width:1199px){
   .wrapper {width: 90%;margin-top: 20px;}
.sign-in {
background: #0000000f;
padding: 214px 20PX;min-height: auto;}
.form-right form {margin-left: 20px;}
.setFooter span {font-size: 20px; }
.setFooter img {width: 5%;}
.setFooter {padding: 7px 20px;} 
}
/*Tablet portrait (768x1024)*/
@media (min-width:758px) and (max-width:800px){
   .wrapper {width: 90%;margin-top: 20px;}
.sign-in {
background: #0000000f;
padding: 214px 20PX;min-height: auto;}
.form-right form {margin-left: 20px;}
.setFooter span {font-size: 20px; }
.setFooter img {width: 5%;}
.setFooter {padding: 7px 20px;}
}
/*Small tablet landscape (800x600)*/
@media (min-width:790px) and (max-width:900px){
   .wrapper {width: 90%;margin-top: 20px;}
.sign-in {
background: #0000000f;
padding: 214px 20PX;}
.form-right form {margin-left: 20px;}
.setFooter span {font-size: 20px; }
.setFooter img {width: 5%;}
.setFooter {padding: 7px 20px;}
}
/*Small tablet portrait (600x800)*/
@media (min-width:590px) and (max-width:767px){
  .wrapper {width: 90%;margin-top: 20px;}
.sign-in {
background: #0000000f;
padding: 214px 20PX;}
.form-right form {margin-left: 20px;}
.setFooter span {font-size: 20px; }
.setFooter img {width: 5%;}
.setFooter {padding: 7px 20px;}
}
@media screen and (max-width: 500px){
.wrapper {width: 90%;margin-top: 20px;}
.sign-in {
background: #0000000f;
padding: 20px;
min-height: auto;}
.form-right form {margin-left: 20px;}
.setFooter span {font-size: 20px; }
.setFooter img {width: 7%;}
.setFooter {padding: 7px 20px;}
}
 /*Mobile portrait (320x480)*/
@media (min-width:310px) and (max-width:470px){
  .form-right form button {padding: 5px 20px;}
}
/*Mobile  landscape (480x320)*/
@media (min-width:470px) and (max-width:580px){}
@media screen and (min-width: 1400px) {.sign-in{ padding:65% 0px;}}
@media screen and (min-width: 1600px) {.sign-in{ padding:56% 0px;}}
@media screen and (min-width: 1900px) {.sign-in{ padding:47% 0px;}}
@media (min-width: 992px) {}
@media (min-width: 1200px){.sign-in{ padding:76% 0px;}}
/*RESPONSIVE END*/

