 
<div class="wrapper">
  <div class="header-register">
    <h3>
      Register for an Account
    </h3>
    <p>
      To watch the experts you need to register yourself. You can access the content
      on any device of your comfort at your convenience.
    </p>
  </div>    
  <div class="row"> 
    <div class="col-md-5 col-sm-5">
      <div class="sign-in">
        <h4>Have an Account?</h4>
        <button>Sign in</button>
      </div>
    </div>
    <div class="col-md-7 col-sm-7 form-right">
      <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input type="text" class="form-control" formControlName="name" placeholder="Name" required>
          <span class="text-danger" *ngIf="registrationForm.get('name').errors && 
                    (registrationForm.get('name').touched || registrationForm.get('name').dirty)">
                    Name is required
          </span>
        </div>
        <div class="form-group">
          <input type="email" class="form-control" formControlName="email" placeholder="Email" required>
          <span class="text-danger" *ngIf="registrationForm.controls['email'].hasError('required') && 
                    registrationForm.get('email').touched">
                    Email is required
          </span>
          <span class="text-danger"
                    *ngIf="registrationForm.controls['email'].hasError('pattern') && (registrationForm.get('email').touched)">
                    Please enter valid email address
          </span>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="phoneNumber" placeholder="Phone no." required>
           <span class="text-danger" *ngIf="registrationForm.get('phoneNumber').errors && 
                    (registrationForm.get('phoneNumber').touched || registrationForm.get('phoneNumber').dirty)">
                    Phone number is required
          </span>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="address1" placeholder="Address 1"required>
           <span class="text-danger" *ngIf="registrationForm.get('address1').errors && 
                    (registrationForm.get('address1').touched || registrationForm.get('address1').dirty)">
                    Address is required
          </span>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="address2" placeholder="Address 2" required>
           <span class="text-danger" *ngIf="registrationForm.get('address2').errors && 
                    (registrationForm.get('address2').touched || registrationForm.get('address2').dirty)">
                    Address is required
          </span>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="city" placeholder="City" required>
           <span class="text-danger" *ngIf="registrationForm.get('city').errors && 
                    (registrationForm.get('city').touched || registrationForm.get('city').dirty)">
                    City is required
          </span>
        </div>
        <div class="form-group">
          <input type="text" class="form-control" formControlName="pinCode" placeholder="Pin code" required>
          <span class="text-danger" *ngIf="registrationForm.get('pinCode').errors && 
                    (registrationForm.get('pinCode').touched || registrationForm.get('pinCode').dirty)">
                    Pincode is required
          </span>
        </div>       
        <button type="submit" class="btn">Submit</button>
      </form>
    </div>
  </div>  
</div> 
<!-- footer -->
<footer class="londonSemi_footer">
  <div class="setFooter">
    <span>Follow us on :</span>
    <img src="assets/images/facebook.png">
    <img src="assets/images/youtube.png">
    <img src="assets/images/twitter.png">
  </div>
</footer>
<!-- footer end -->
