<div class="wraper">
  <div class="seminarBackgrund">
    <div class="senimarSpacing">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xs-12 prof-div">
            <img src="assets/images/seminar5.png">
          </div>
          <div class="col-sm-6 col-md-6 col-xs-12 intro">
            <h2>Seminar V</h2>
            <h1>Philippe Steg</h1>
            <button>Post PCI</button>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="senimarSpacing">
    <div class="container">
      <div class="row middle-wraper">
        <div class="col-sm-9 col-sm-9 col-sm-9 col-xs-12 content">

          <p>
               Dr Steg has been a Professor of Cardiology at Université Paris - Diderot since 1994. He is also Professor at the National Heart and Lung Institute, Imperial College, London, UK. 
          </p>
          <p>
              Dr Steg’s research interests are in the field of coronary artery disease. He is a former member of the Board of the French Society of Cardiology, an honorary member of the Institut Universitaire de France, and received the silver medal of the European Society of Cardiology in 2011.
          </p>
          <p>
              Dr Steg led the TAO and EUROMAX trials and is currently chairing or co-chairing several trials or registries, such as ODYSSEY-CV Outcomes, CLARIFY, THEMIS.
          </p>
          <p>
               Dr Steg has authored more than 650 articles in peer-reviewed international journals. He is a member of the editorial boards for Circulation, Circulation: Cardiovascular Interventions, the European Heart Journal, and the European Heart Journal – Cardiovascular Pharmacotherapy.
          </p>
        </div>
        <div class="col-sm-3 col-sm-3 col-sm-3 col-xs-12 watch-area">
          <a routerLink="/my_account"> 
            <button>
              Watch
            </button>
          </a>

          <div class="next-seminar">
            <p>Next</p>
            <img src="assets/images/pic9.png" alt="">
            <h3>
                Prof John Eikelboom
            </h3>

            <h4>19th Sepetember 2020</h4>
            <!-- <hr> -->
            <!-- <h4>7.30-8.45pm</h4> -->

          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="seminarBackgrund">
    <div class="senimarSpacing">
      <div class="container">
        <div class="row chairperson-main">
          <h2 class="title">
              Chairperson
          </h2>
          <div class="col-sm-6 col-md-6 col-xs-12 chairperson-info">
            <img src="assets/images/pic1.png">
            <h2>Jeroen Bax</h2>
            <p>Director of non-invasive imaging and Director of the echo-lab at the Leiden University Medical Center</p>
          </div>

          <div class="col-sm-6 col-md-6 col-xs-12 chairperson-info">
              <img src="assets/images/pic4.png">
              <h2>Keith Fox</h2>
              <p>Professor of Cardiology of the University of Edinburgh, UK</p>
          </div>
        </div>
      </div>
    </div>
  </div>  
</div>

<div class="footer">
  
</div>