.wraper {font-family: 'Roboto', sans-serif; }
.senimarSpacing {padding: 40px 70px;}
.prof-div img {width: 100%;}
.intro {padding-top: 40px;}
.intro h2 {    
  letter-spacing: 1.72px;
  color: #FE4644;
  opacity: 1;
}
.intro h1 {    
    text-align: left;
    font: 278px;
    letter-spacing: 1.63px;
    color: #070707;
    font-size: 42px;margin-top: 20px;
    margin-bottom: 50px;
  }

.intro button {background: transparent linear-gradient(90deg, #FE3B61 0%, #FE464D 19%, #FF3B5E 40%, #FF4C36 60%, #FF5D1C 81%, #FE6D0C 100%) 0% 0% no-repeat padding-box;
    border-radius: 54px;
    padding: 10px 30px;
    color: #fff;
    border: none;
    font-size: 24px;
    font-weight: 500;}


/*.middle-wraper {margin-top: 50px;}    */
.content p {letter-spacing: 1.25px;
    color: #040404;
    opacity: 1;line-height: 28px;
    font-weight: 500;}  
.watch-area button {background: #D2AB2A 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    opacity: 1;
    width: 100%;
    padding: 8px 0px;
    color: #fff;
    font-size: 22px;}    

.next-seminar p{ color: #FE3B61;
font-weight: 500;
font-size: 22px;
text-align: center;
padding-top: 20px;}

.next-seminar img {width: 60%;
margin: auto;
display: block;}

.next-seminar h3{text-align: center;
letter-spacing: 1.27px;
color: #0A0A0A;
opacity: 1;    font-size: 16px;
padding-top: 14px;}    

.next-seminar h4 {letter-spacing: 2.27px;
    color: #FF4C36;
    opacity: 1;
    font-size: 16px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 0;}
.next-seminar hr {background: #0000002e;
    border: none;
    margin-top: 5px;height: 2px;
    width: 60%;
    margin-bottom: 5px;}

.title {letter-spacing: 2.63px;
    color: #FE3B61;
    opacity: 1;
    text-align: center;
    width: 100%;
    font-size: 36px;}

/*.chairperson-main {padding-top: 60px;}*/
.chairperson-info img {width: 120px;
    margin: auto;
    display: block;
    padding-bottom: 10px;}
.chairperson-info h2 {    letter-spacing: 2.63px;
    color: #070707;
    opacity: 1;
    font-size: 28px;
    text-align: center;}
.chairperson-info p {letter-spacing: 1.52px;
    color: #393737;
    opacity: 1;
    font-weight: 600;
    font-size: 18px;
    width: 90%;
    text-align: center;
    margin: auto;}    

.footer {    
    background: transparent linear-gradient(90deg, #FE3B61 0%, #FE464D 19%, #FF3B5E 40%, #FF4C36 60%, #FF5D1C 81%, #FE6D0C 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    height: 60px;
} 
.seminarBackgrund {
  background-image:url(/assets/images/contentSection.png);
    background-size: contain;
    padding: 0 !important;
  }  


@media screen and (max-width: 500px) {
    .wraper {
      padding: 10px 10px 10px 10px;
    }
  .senimarSpacing {padding: 0;}
    .intro {
      padding-top: 10px;
      text-align: center;
    }
  
    .intro h1 {
      font-size: 34px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 20px;
    }
  
    .intro h1 {
      font-size: 24px;
    }
  
    .intro button {
      padding: 5px 27px;
      color: #fff;
      border: none;
      font-size: 20px;
      font-weight: 500;
      width: 100%;
    }
  
    .middle-wraper {
      margin-top: 20px;
      text-align: -webkit-center;
    }
  
    .chairperson-main {
      padding-top: 20px;
      background: beige;
      margin-top: 20px;
    }
  
    .title {
      font-size: 26px;
    }
  
    .chairperson-info h2 {
      font-size: 22px;
    }
  
    .chairperson-info p {
      font-size: 15px;
      width: 90%;
    }
  
    .chairperson-info {
      margin-bottom: 20px;
    }
  }