<div class="wraper">
  <div class="seminarBackgrund">
    <div class="senimarSpacing">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-xs-12 prof-div">
            <img src="assets/images/seminar4.png">
          </div>
          <div class="col-sm-6 col-md-6 col-xs-12 intro">
            <h2>Seminar IV</h2>
            <h1>William Fearon</h1>
            <button>Simplify PCI</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="senimarSpacing">
    <div class="container">
      <div class="row middle-wraper">
        <div class="col-sm-9 col-sm-9 col-sm-9 col-xs-12 content">

          <p>
              Dr. Fearon is Professor of Medicine (Cardiology) and Director of Interventional Cardiology at Stanford University.
          </p>
          <p>
              Dr. Fearon’s primary area of research interest is in coronary physiology. He was the US principal investigator and senior author of the FAME trial, published in the New England Journal of Medicine and is a co-principal investigator and senior author of the FAME 2 trial, also published in the New England Journal of Medicine. He is the principal investigator of the FAME 3 trial comparing FFR-guided stenting with bypass surgery.
          </p>
          <p>
              He has presented and published a number of abstracts and peer-reviewed papers in both coronary physiology and transcatheter aortic valve replacement, and serves on the editorial board of Circulation, the Journal of the American College of Cardiology, JACC Cardiovascular Interventions, and Circulation: Cardiovascular Interventions.
          </p>
          
        </div>
        <div class="col-sm-3 col-sm-3 col-sm-3 col-xs-12 watch-area">
          <a routerLink="/my_account"> 
            <button>
              Watch
            </button>
          </a>

          <div class="next-seminar">
            <p>Next</p>
            <img src="assets/images/pic8.png" alt="">
            <h3>
                Prof Philippe Steg
            </h3>

            <h4>12th September 2020</h4>
            <!-- <hr> -->
            <!-- <h4>7.30-8.45pm</h4> -->

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="seminarBackgrund">
    <div class="senimarSpacing">
      <div class="container">
        <div class="row chairperson-main">
          <h2 class="title">
              Chairperson
          </h2>
          <div class="col-sm-6 col-md-6 col-xs-12 chairperson-info">
            <img src="assets/images/pic1.png">
            <h2>Jeroen Bax</h2>
            <p>Director of non-invasive imaging and Director of the echo-lab at the Leiden University Medical Center</p>
          </div>

          <div class="col-sm-6 col-md-6 col-xs-12 chairperson-info">
              <img src="assets/images/pic3.png">
              <h2>Anthony Gershlick</h2>
              <p>Consultant Cardiologist at Leicester’s Hospitals, UK</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  
</div>