<div class="wraper">
    <div class="seminarBackgrund">
      <div class="senimarSpacing">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12 prof-div">
              <img src="assets/images/john-eikelboom.png">
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12 intro">
              <h2>Seminar VI</h2>
              <h1>John Eikelboom</h1>
              <button>Post PCI</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="senimarSpacing">
      <div class="container">
        <div class="row middle-wraper">
          <div class="col-sm-9 col-sm-9 col-sm-9 col-xs-12 content">

            <p>
                Dr. Eikelboom, Associate Professor in the Department of Medicine, McMaster University, and haematologist in the Thrombosis Service, Hamilton General Hospital, Ontario, Canada. 
            </p>
            <p>
                He originally trained in Internal Medicine and Haematology in Perth, Australia and subsequently moved to Hamilton to take up a Tier II Canada Research Chair in Cardiovascular Medicine.
            </p>
            <p>
               Dr Eikelboom has co-authored more than 400 articles in peer-reviewed journals. His current research, supported by the Canadian Institutes for Health Research, the Heart and Stroke Foundation, and the National Health and Medical Research Council of Australia, focuses on the efficacy and safety of antithrombotic therapies, outcomes after blood transfusion and bleeding, and the mechanisms of variable response to antiplatelet drugs.
            </p>
            
          </div>
          <div class="col-sm-3 col-sm-3 col-sm-3 col-xs-12 watch-area">
            <a routerLink="/my_account"> 
              <button>
                Watch
              </button>
            </a>

            <div class="next-seminar">
              <img src="assets/images/watch-next.png" alt="">
       
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="seminarBackgrund">
      <div class="senimarSpacing">
        <div class="container">
          <div class="row chairperson-main">
            <h2 class="title">
                Chairperson
            </h2>
            <div class="col-sm-6 col-md-6 col-xs-12 chairperson-info">
              <img src="assets/images/pic1.png">
              <h2>Jeroen Bax</h2>
              <p>Director of non-invasive imaging and Director of the echo-lab at the Leiden University Medical Center</p>
            </div>

            <div class="col-sm-6 col-md-6 col-xs-12 chairperson-info">
                <img src="assets/images/pic4.png">
                <h2>Keith Fox</h2>
                <p>Professor of Cardiology of the University of Edinburgh, UK</p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="footer">
  
</div>