<div class="wraper">
    <div class="seminarBackgrund">
      <div class="senimarSpacing">
        <div class="container">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-xs-12 prof-div">
              <img src="assets/images/seminar2.png">
            </div>
            <div class="col-sm-6 col-md-6 col-xs-12 intro">
              <h2>Seminar II</h2>
              <h1>Marc Preffer</h1>
              <button>Heart Failure</button>
            </div>
          </div>
        </div>
      </div>
    </div> 
    <div class="senimarSpacing">
      <div class="container">   
        <div class="row middle-wraper">
          <div class="col-sm-9 col-sm-9 col-sm-9 col-xs-12 content">
            <p>
                Dr. Marc Alan Pfeffer is a cardiovascular medicine specialist at Brigham and Women’s Hospital (BWH) and the Victor J. Dzau professor of medicine at Harvard Medical School.  
            </p>
            <p>
                His clinical interests include cardiovascular disease, congestive heart failure, coronary artery disease and valvular heart disease. The author of over 450 peer-reviewed publications.
            </p>
            <p>
                 Dr. Pfeffer has been listed as one of America’s Top Doctors by Castle Connolly and named a top cardiologist by Boston Magazine.
            </p>
            <p>
               Dr. Pfeffer is the recipient of the Clinical Research Prize and the James Herrick Award, both from the American Heart Association.
            </p>
            <p>
               Dr. Pfeffer - along with Dr. Janice Pfeffer and Dr. Eugene Braunwald - is credited with introducing the concept that angiotensin-converting enzyme inhibitors (ACEIs) could mitigate adverse ventricular remodeling following myocardial infarction and that ACEI use would result in increased survival and other clinical benefits. 
            </p>
          </div>
          <div class="col-sm-3 col-sm-3 col-sm-3 col-xs-12 watch-area">
            <a routerLink="/my_account"> 
              <button>
                Watch
              </button>
            </a>

            <div class="next-seminar">
              <p>Next</p>
              <img src="assets/images/pic6.png" alt="">
              <h3>
                  Prof Bernard Gersh
              </h3>

              <h4>8th August 2020</h4>
              <!-- <hr> -->
              <!-- <h4>7.30-8.45pm</h4> -->

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="seminarBackgrund">
      <div class="senimarSpacing">   
        <div class="container">
          <div class="row chairperson-main">
            <h2 class="title">
                Chairperson
            </h2>
            <div class="col-sm-6 col-md-6 col-xs-12 chairperson-info">
              <img src="assets/images/pic1.png">
              <h2>Jeroen Bax</h2>
              <p>Director of non-invasive imaging and Director of the echo-lab at the Leiden University Medical Center</p>
            </div>

            <div class="col-sm-6 col-md-6 col-xs-12 chairperson-info">
                <img src="assets/images/pic2.png">
                <h2>Martin Cowie</h2>
                <p>Professor of Cardiology (Health Services Research) and is an Honorary Consultant Cardiologist at the Royal Brompton and Harefield NHS Foundation Trust</p>
            </div>
          </div>
        </div> 
      </div>
    </div>
</div>
<div class="footer">
  
</div>