.wraper {
    font-family: 'Roboto', sans-serif;
}
/*header*/
.header {
background: transparent linear-gradient(90deg, #FE3B61 0%, #FE464D 19%, #FF3B5E 40%, #FF4C36 60%, #FF5D1C 81%, #FE6D0C 100%) 0% 0% no-repeat padding-box;
text-align: center;
color: #fff;
}
.header .heading {
    padding: 130px 0;
}
.header .heading h1 {    
    font-size: 150px;
    font-weight: bolder;
    margin: 0;
    font-family: auto;
    line-height: 140px;
}
.header .heading h4 {    
	font-size: 50px;
    margin: 0;
    color: #000;
}
/*header end*/

/*navigation*/
.londonNavbar {    
    font-size: 18px;
    margin-top: 10px;
    padding:0;
}
.londonNavbar ul li a {
    color: #000;
    font-size: 28px;
    font-weight: 500;
}
.londonNavbar ul li a span {
    padding: 0 15px;
     color: #f0dcdc;
}
/*navigation end*/


.contentSecton {
    background-image:url(/assets/images/contentSection.png);
    background-size: contain;
    padding: 30px 0;
}
/*paragraph*/
.para img {
	float: left;
    border: 2px solid red;
    margin: 5px 35px 5px;
}
.para p {    
    text-align: justify;
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #070707;
}
.para ul {   
    font-size: 18px;
    letter-spacing: 1.5px;
    color: #070707;
}
.paraBold {
    font-weight: bold;
}
.para_width {
    max-width: 710px;
     margin: auto;
 }
/*paragraph end*/

/*seriesOne*/
.seriesOne .seriesHeading img{
    width: 100%;
}
.heartFailure {
    margin: 50px 0;
}
.heartFailure h2 {    
    text-align: center;
    font-size: 36px;
    margin-bottom: 0px;
    font-weight: bold;
    letter-spacing: 3px;

}
.heartFailure p {    
    text-align: center;
    margin: 0;
    font-size: 28px;
}
.heartFailure hr {
    width: 280px;
    border-color: #000;
    border-width: 2px;
    margin: auto;
 }

/*heart Failure*/
.heartFailureimg {
    margin: 50px 0;
}
.heartFailureimg h4 {
    color: #393737;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center;
}
.heartFailureimg img {
    width: 100%;
}
.heartFailureimg .episodePara{
    background: #FFF;
    border: 1px solid #707070; 
    padding: 15px 45px;
    border-top: none;
}
.heartFailureimg .episodePara p{    
    text-align: center;
    letter-spacing: 1.27px;
    color: #0A0A0A;
    opacity: 1;
    font-size: 18px;
    padding-top: 5px;
    text-align: center;
}
.espTime{
    color:#D2AB2A !important;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.25px;
}
  
.espinfo {    
    color: #000;
    font-weight: 600;
    font-size: 20px;
}
.espsub {    
    font-size: 14px;
}
.espprof {
    color: #000;
    font-weight: 600;
    font-size: 16px;
}
.btnMore{    
    border: none;
    background: transparent;
    font-size: 16px;
    color: #393737;
    font-weight: 600;
    letter-spacing: 1.25px;
    margin: 30px 160px 0;
}
.btnReg {border: none;
    background: #96a4a5;
    padding: 5px 10px;
    width: 25%;
    margin: 20px 50px;
    font-size: 16px;}
.espTime2{color: #8D44AD !important;
     font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.25px;}
.espTime3 {color: #1CBB9B !important;
 font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.25px ;}
.espTime4 {color: #F39C11 !important;
 font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.25px;}
.espTime5 {color: #3598DB !important;
font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.25px;}
.espTime6 {color: #E84C3D !important;
 font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.25px;}
/*heart failure end*/


/*footer*/
.londonSemi_footer {
background: #fe3b61; /* Old browsers */
background: -moz-linear-gradient(45deg,  #fe3b61 0%, #fe464d 25%, #ff3b5e 48%, #ff4c36 71%, #ff5d1c 86%, #fe6d0c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #fe3b61 0%,#fe464d 25%,#ff3b5e 48%,#ff4c36 71%,#ff5d1c 86%,#fe6d0c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #fe3b61 0%,#fe464d 25%,#ff3b5e 48%,#ff4c36 71%,#ff5d1c 86%,#fe6d0c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fe3b61', endColorstr='#fe6d0c',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.setFooter {
    text-align: right;
    padding:7px 80px;
}
.setFooter img {    
    width: 3%;
    margin: 0 5px;
}
.setFooter span {    
    color: #fff;
    font-size: 24px;}
/*seriesOne END*/
.sponsore {    
    background: transparent linear-gradient(90deg, #FE3B61 0%, #FE464D 19%, #FF3B5E 40%, #FF4C36 60%, #FF5D1C 81%, #FE6D0C 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    text-align: center;
    color: #fff; 
    font-weight: bold;
}  
.sponsore h1 {
    margin: 0;    
    padding: 10px 0;
}
.sponsorImage {
    text-align: center;
}
.sponsorImage img {    
    width: 200px;
    padding: 40px 40px 0 0;
}




/*RESPONSIVE START*/
@media and (min-width: 1030px) and (max-width: 1366px){}
/*Tablet landscape (1024x768)*/
@media (min-width:992px) and (max-width:1199px){
.btnMore {margin: 20px 120px !important;}
}
/*Tablet portrait (768x1024)*/
@media (min-width:758px) and (max-width:800px){
.header .heading h1{font-size: 50px !important;}
.header .heading h4 {font-size: 22px !important;}
.londonNavbar ul{text-align: center;}
.para_width {max-width: 450px;}
.londonNavbar ul li a span {display: none;}
.para img {margin: 10px 15px 3px 0px;width: 70%;}
.para p {font-size: 16px;}
.heartFailure h2{font-size: 20px;}
.espinfo {font-size: 16px;}
.btnMore {margin: 10px 0 !important; width: 100% !important;}
.setFooter {padding: 10px !important;}
}
/*Small tablet landscape (800x600)*/
@media (min-width:790px) and (max-width:900px){
.header .heading h1{font-size: 50px !important;}
.header .heading h4 {font-size: 22px !important;}
.londonNavbar ul{text-align: center;}
.para_width {max-width: 450px;}
.para img {margin: 10px 15px 3px 0px;width: 70%;}
.para p {font-size: 16px;}
.heartFailure h2{font-size: 20px;}
.espinfo {font-size: 16px;}
.btnMore {margin: 10px 0 !important; width: 100% !important;}
.setFooter {padding: 10px !important;}
}
/*Small tablet portrait (600x800)*/
@media (min-width:590px) and (max-width:767px){
.header .heading {padding: 50px 0;}    
.header .heading h1{font-size: 50px !important;}
.header .heading h4 {font-size: 22px !important;}
.londonNavbar ul{text-align: center;}
.para_width {max-width: 450px;}
.para img {margin: 10px 15px 3px 0px;width: 70%;}
.para p {font-size: 16px;}
.heartFailure h2{font-size: 20px;}
.episodePara .espinfo {font-size: 16px;}
.episodePara {padding: 15px!important;}
.espinfo {font-size: 14px;}
.btnMore {margin: 10px 0 !important; width: 100% !important;}
.setFooter {padding: 10px !important;}
}
@media screen and (max-width: 500px){
.londonNavbar ul li a {
font-size: 16px;
line-height: 12px;
}
.londonNavbar{padding-bottom: 20px;}
.header .heading {padding: 30px 0;}
.header .heading h1{font-size: 50px !important;    line-height: 46px;}
.header .heading h4 {font-size: 22px !important;}
.londonNavbar ul{text-align: center;}
.londonNavbar ul li a span {display: none;}
.para img {margin: 10px 15px 3px 0px;width: 70%;}
.para p {font-size: 14px;}
.heartFailure h2{font-size: 20px;}
.espinfo {font-size: 16px;}
.btnMore {margin: 10px 0 !important; width: 100% !important;}
.setFooter {padding: 10px !important;}
.sponsorImage img {
    width: 110px;}
.heartFailureimg {
margin: 10px 0;
}
}
 /*Mobile portrait (320x480)*/
@media (min-width:310px) and (max-width:470px){
.header .heading {padding: 30px 0;}
.header .heading h1{font-size: 50px !important;}
.header .heading h4 {font-size: 14px !important;}
.londonNavbar ul{text-align: center;}
.londonNavbar ul li a span {display: none;}
.para img {margin: 10px 15px 3px 0px;}
.para p {font-size: 18px;}
.heartFailure h2{font-size: 20px;}
.espinfo {font-size: 16px;}
.btnMore {width: 30%; margin: 10px 20px 0 30px;font-size: 14px;}
.setFooter {padding: 10px !important;}
}
/*Mobile  landscape (480x320)*/
@media (min-width:470px) and (max-width:580px){
.header .heading h1{font-size: 50px !important;}
.header .heading h4 {font-size: 22px !important;}
.londonNavbar ul{text-align: center;}
.londonNavbar ul li a span {display: none;}
.para img {margin: 10px 15px 3px 0px;width: 70%;}
.para p {font-size: 14px;}
.heartFailure h2{font-size: 20px;}
.espinfo {font-size: 16px;}
.btnMore {margin: 10px 0 !important; width: 100% !important;}
.setFooter {padding: 10px !important;}
}
@media screen and (min-width: 1400px) {}
@media screen and (min-width: 1600px) {}
@media screen and (min-width: 1900px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px){}