<div class="wraper">
		<!-- london seminar page -->
		<div class="londonSeminar">
			<!-- header portion -->
		    <div class="header">
		          	<div class="heading ">
			            <h1>LONDON SEMINARS</h1>
			            <h4>Listen to the world’s best speakers</h4>	
		          	</div>
		          	<!-- navigation start -->
						<nav class="navbar navbar-expand-sm justify-content-center londonNavbar">
					        <ul class="navbar-nav">
					          <li class="nav-item">
					            <a class="nav-link" href="#">Home <span>|</span></a>
					          </li>
					          <li class="nav-item">
					            <a class="nav-link" routerLink="my_account">My Account<span>|</span></a>
					          </li>
					          <li class="nav-item">
					            <a routerLink="contact_us" class="nav-link" href="#">Contact Us</a>
					          </li>
					        </ul>
					    </nav>
					<!-- navigation end -->
		    </div>
			<!-- header portion end --> 

			<!--content main Section  -->
			<div class="contentSecton">
		<div class="container">

				<!-- paragraph start -->
				<div class="para">
			        <div class="para_width">
			            <!-- <img class="para_img" src="assets/images/download.jpg"> -->
			            <p>
			                Free exchange of thoughts based on scientific evidence is increasingly becoming a valuable tool for clinicians. As more & more scientific literature is published, analysing it & converting it into a meaningful information is a day to day challenge and an opportunity to improve patient care. Conferences across the globe are the most established platform of interaction & understanding of rapid developments in Cardiovascular Medicine.
			            </p>
			            <p>
			            	With the COVID-19 pandemic, a need has arisen for the exchange of  knowledge to evolve from conferences to digital platforms.
							London Seminars is a new platform which aims to bring the greatest scientific minds & best speakers directly to you. This will  enable you to make informed decisions about the issues that matter the most.
							Each series will be of three months. The first series will start in July 2020 & there will be two seminars every month.
						</p>
						<ul>
							<li>July - Heart Failure.</li>
							<li>August - Management of Stable Ischemic Heart.</li>
							<li>September - Post PCI (Antiplatelet & Antithrombotic therapy)</li>
						</ul>
							<!-- <span class="paraBold">
			            	July - Heart Failure.<br>
							August - Management of Stable Ischemic Heart.<br>  
							September - Post PCI (Antiplatelet & Antithrombotic therapy)
						    </span> -->
							            
			            <p>
			            	You will be receiving an e-booklet on the topic covered within 2 weeks of the end of each series.  
							At the end of the London Seminars  you will receive the collectors edition of the London Seminars in print format.
						</p>				   
			            <div class="clearfix"></div>
			        </div> 
				</div>
		    	<!-- paragraph end -->
		    	<!-- seriesOne -->
		    	<div class="seriesOne">
		      	<!-- <div class="seriesHeading">
		      		<div class="container">
		      			<img src="assets/images/data-21.jpg">
		      	    </div>
		      	</div> -->
		      	<!-- heatfailure -->
		      	<div class="heartFailure">
			      		<h2 class="herthead">Heart Failure</h2>
			      		<hr>
			      		<div class="row">
			      			<div class="col-sm-6 heartFailureimg">
			      				<h4>Seminar I</h4>
			      				<img src="assets/images/john.png">
			      				<div class="episodePara">
									<p class="espinfo">Prof John McMurray on personalised Therapy of HFrEF</p>
									<p class="espTime"> 11th July 2020 <span>|</span> 7.30-8.45pm
									</p>
									<button routerLink="/seminarI" class="btnMore">Read More -></button>
			      				</div>
			      			</div>
			      			<div class="col-sm-6 heartFailureimg">
			      				<h4>Seminar II</h4>	      				
			      				<img src="assets/images/marc.png">      
			      				<div class="episodePara">
									<p class="espinfo">Prof Marc Pfeffer on Heart Failure With Preserved Ejection Fraction in Perspective</p>
									<p class="espTime2"> 18th July 2020 <span>|</span> 7.30-8.45pm
									</p>
									<button routerLink="/seminarII" class="btnMore">Read More -></button>
			      				</div>				
			      			</div>      			
			      		</div>     		
		      	</div>
		      	<!-- heartfailure end -->

		      	<!-- Simplify PCI -->
		      	<div class="heartFailure">
			      		<h2>Simplify PCI</h2>
			      		<p>(with Enhanced imaging & Advanced Physiology)</p>
			      		<hr>
			      		<div class="row">
			      			<div class="col-sm-6 heartFailureimg">
			      				<h4>Seminar III</h4>

			      				<img src="assets/images/benard.png">
			      				<div class="episodePara">
									<p class="espinfo">Prof Bernard Gersh</p>
									<p class="espTime3"> 8th August 2020
									</p>
									<button routerLink="/seminarIII" class="btnMore">Read More -> </button>
			      				</div>
			      			</div>
			      			<div class="col-sm-6 heartFailureimg">
			      				<h4>Seminar IV</h4>

			      				<img src="assets/images/william.png">      
			      				<div class="episodePara">
									<p class="espinfo">Prof William Fearon</p>
									<p class="espTime4"> 22nd August 2020
									</p>
									<button routerLink="/seminarIV" class="btnMore">Read More -></button>
			      				</div>				
			      			</div>      			
			      		</div>     		
		      	</div>
		      	<!-- Simplify PCI end -->

		      	<!-- post PCI -->
		      	<div class="heartFailure">
			      		<h2>Post PCI</h2>
			      		<p>(Antiplatelet & Antithrombotic therapy)</p>
			      		<hr>
			      		<div class="row">
			      			<div class="col-sm-6 heartFailureimg">
			      				<h4>Seminar V</h4>

			      				<img src="assets/images/phillippe.png">
			      				<div class="episodePara">
									<p class="espinfo">Prof Philippe Steg</p>
									<p class="espTime5"> 12th September 2020
									</p>
									<button routerLink="/seminarV" class="btnMore">Read More -></button>
			      				</div>
			      			</div>
			      			<div class="col-sm-6 heartFailureimg">
			      				<h4>Seminar VI</h4>

			      				<img src="assets/images/eike.png">      
			      				<div class="episodePara">
									<p class="espinfo">Prof John Eikelboom</p>
									<p class="espTime6"> 19th Sepetember 2020
									</p>
									<button routerLink="/seminarVI" class="btnMore">Read More -></button>
			      				</div>				
			      			</div>      			
			      		</div>    		
		      	</div>
		      	<!-- POST PCI end -->
		    	</div>
		    	<!-- seriesOne end -->
		    	</div>
		    	 <!-- sponsor -->
			<div class="sponsoreHead"> 
			 <div class="sponsore">
			 	<h1>Our Sponsors</h1>
			 </div>
			 <div class="sponsorImage">
			 	<img src="assets/images/zyduscadila.png">
			 	<img src="assets/images/Lupinlogo.png">
			 	<img src="assets/images/USV.png">
			 	<img src="assets/images/Cipla.png">
			 	<img src="assets/images/Glenmark.png">

			 </div>
			</div>
		    <!-- sponsor end -->
			</div>

			<!--content main Section end -->

		   
		<div>
		<!-- london seminar page end -->
</div>

